@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(
    97.86deg,
    hsla(17, 95%, 50%, 1) 0%,
    hsla(42, 94%, 57%, 1) 53.65%,
    hsla(17, 95%, 50%, 1) 100%
  );
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}
